<div class="threeColumns-0">
	<div class="section">
		<ul>
			<li><%=link_to "Social", benefits_social_url%></li>
			<li><%=link_to "Networking", benefits_networking_url%></li>
			<li><%=link_to "Philanthropic", benefits_philanthropic_url%></li>
			<li><%=link_to "Educational", benefits_educational_url%></li>															
			<li><%=link_to "Get Involved", benefits_involved_url%></li>
			<li><%=link_to "Discounts", benefits_discounts_url%></li>
			<li><%=link_to "Join/Membership", benefits_join_url%></li>			
		</ul>
	</div>
</div>