<div class="twoColumns-0">
	<h1>Calendar</h1>

	<div class="calendarHeader">
		<form action="<%=calendar_redirect_url %>" style="width:400px" method="get">
			<fieldset>
				<%= select_month @date, {}, {:style => 'width:100px;display:inline;'} %>
				<%= select_year @date, {:start_year => @min.year, :end_year => @max.year}, {:style => 'width:75px;display:inline;'} %>
				<%= hidden_field :date, :day %>
				<%= submit_tag 'Submit' %>

				<%=link_to "Today", current_calendar_url%>
			</fieldset>
		</form>
		<div style="width:275px;">
			<%=link_to "&rsaquo;", next_calendar_url(@date), :class => 'leftArrow' %>
			<%=link_to "&lsaquo;", previous_calendar_url(@date), :class => 'rightArrow' %>
			<span class="daySelected"><%=h @date.strftime('%A %B %d, %Y') %></span>
		</div>
	</div>

	<% calendar_for(@events,
		:year => @date.year,
		:month => @date.month,
		:day => @date.day,
		:html => {
			:id => 'calendar',
			:cellpadding => 0,
			:cellspacing => 0
			}) do |t| %>
	  <%= t.head(*@days) %>
	  <% t.day :day_method => :start_datetime do |day, events| %>
		    <div class="label"><%= day.day %></div>
			<% if events.length > 3 %>
				<ul class="events"><li>
		    	<% events.each do |event| %>
		      		<span class="<%= h(event.color) %>"></span>
		    	<% end %>
				</li></ul>
				<br /><a href=""><%=events.length%> Events</a>
			<% else %>
				<ul class="events">
		    	<% events.each do |event| %>
					<li>
					<span class="<%= h(event.color) %>"></span>
		      		<a href="" title="<%=h event.name%>"><%=h event.name%></a>
					</li>
		    	<% end %>
				</li></ul>
			<% end %>
	  <% end %>
	<% end %>
</div>

<div class="twoColumns-1" style="width:248px">
	<form class="filters">
		<fieldset>
			<label>Filter Event Categories</label>
			<div class="eventTypesContainer">
				<ul>
					<li>
						<span class="all"></span>
						<input type="checkbox" id="all">
						<label for="all">Check All</label>
					</li>
					<li>
						<span class="social"></span>
						<input type="checkbox" id="social">
						<label for="social">Social</label>
					</li>
					<li>
						<span class="networking"></span>
						<input type="checkbox" id="networking">
						<label for="networking">Networking</label>
					</li>
					<li>
						<span class="philanthropy"></span>
						<input type="checkbox" id="philanthopic">
						<label for="philanthropy">Philanthropy</label>
					</li>
					<li>
						<span class="educational"></span>
						<input type="checkbox" id="educational">
						<label for="educational">Educational</label>
					</li>
					<li>
						<span class="coupons"></span>
						<input type="checkbox" id="coupons">
						<label for="coupons">Coupons</label>
					</li>
					<li>
						<span></span>
						<input type="checkbox" id="uncategorized">
						<label for="uncategorized">Un-Categorized</label>
					</li>
				</ul>
			</div>
		</fieldset>

		<fieldset>
			<label>Filter By Community</label>
			<div class="eventTypesContainer">
				<ul>
					<li>
						<input type="checkbox" id="all">
						<label for="all">Check All</label>
					</li>
					<li>
						<input type="checkbox" id="social">
						<label for="social">Cleveland 2030 Club</label>
					</li>
					<li>
						<input type="checkbox" id="networking">
						<label for="networking">Young Professionals</label>
					</li>
					<li>
						<input type="checkbox" id="philanthopic">
						<label for="philanthopic">Young Professional</label>
					</li>
					<li>
						<input type="checkbox" id="educational">
						<label for="philanthopic">Young Professional</label>
					</li>
				</ul>
			</div>
			<input type="submit" value="Filter Events">
		</fieldset>
	</form>
</div>
<div class="clear"></div>


<div class="twoColumns-0">
	<div class="dayEvents">
		<h2>EVENTS FOR: <span>Friday March 12, 2010</span></h2>
		<div class="event">
			<ul>
				<li class="social">
					<a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a>
					<div class="details">
						<p>6:00 pm at <span><a href="">The Leandog Boat</a></span></p>
						<div class="columns">
							<ul>
								<li>Members</li>
								<li>Non-Members</li>
							</ul>
						</div>
						<div class="columns">
							<ul>
								<li>Members</li>
								<li>Non-Members</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="event">
			<ul>
				<li class="networking">
					<a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a>
					<div class="details">
						6:00 pm at <span>The Leandog Boat</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="twoColumns-1" style="width:248px">
	<div class="dayEvents">
		<h2>SPONSORED EVENTS</h2>
		<div class="event sponsored">
			<ul>
				<li class="social">
					<img src="/images/sponsoreImage_small.png" style="width:75px;height:32px;">
					<a href="">Movers &amp; Shakers Event and Celebration and this is a </a>												<div class="details">
						<p>February 27th at 6:00 pm</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="event sponsored">
			<ul>
				<li class="networking">
					<img src="/images/sponsoreImage_small.png" style="width:75px;height:32px;">
					<a href="">Movers &amp; Shakers Event and Celebration and this is a really long title so we see what happens</a>
					<div class="details">
						<p>February 27th at 6:00 pm</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>
