<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'calendar','event-teasers' %>
<% end %>

<div class="twoColumns-0">
	<h1>Calendar</h1>

	<div class="calendarHeader">
		<form action="<%=calendar_redirect_url %>" method="get">
			<fieldset>
				<%= select_month @date, {}, {:style => 'width:100px;display:inline;'} %>
				<%= select_year @date, {:start_year => @min.year, :end_year => @max.year}, {:style => 'width:75px;display:inline;'} %>
				<%= hidden_field :date, :day %>
				<%= submit_tag 'Submit' %>

				<%=link_to "Today", current_calendar_url%>
			</fieldset>
		</form>
		<div style="width:275px;">
			<%=link_to "&rsaquo;", next_calendar_url(@date), :class => 'rightArrow' %>
			<%=link_to "&lsaquo;", previous_calendar_url(@date), :class => 'leftArrow' %>
			<span class="daySelected"><%=h @date.strftime('%A %B %d, %Y') %></span>
		</div>
	</div>

	<% render_calendar(@date, @months_events) %>
</div>
	
<div class="twoColumns-1">
	<h4>Sponsored Events</h4>
	<%= render :partial => "shared/upcoming_sponsored_events", 
			   :collection => @sponsored_events,
			   :as => :event %>
</div>
<div class="clear"></div>
