<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'calendar','event-teasers' %>
<% end %>

<div class="twoColumns-0">
	<h1>Calendar</h1>

	<div class="calendarHeader">
		<form action="<%=calendar_redirect_url %>" method="get">
			<fieldset>
				<%= select_month @date, {}, {:style => 'width:100px;display:inline;'} %>
				<%= select_year @date, {:start_year => @min.year, :end_year => @max.year}, {:style => 'width:75px;display:inline;'} %>
				<%= hidden_field :date, :day %>
				<%= submit_tag 'Submit' %>

				<%=link_to "Today", current_calendar_url%>
			</fieldset>
		</form>
		<div style="width:275px;">
			<%=link_to "&rsaquo;", next_calendar_url(@date), :class => 'rightArrow' %>
			<%=link_to "&lsaquo;", previous_calendar_url(@date), :class => 'leftArrow' %>
			<span class="daySelected"><%=h @date.strftime('%A %B %d, %Y') %></span>
		</div>
	</div>

	<% render_calendar(@date, @months_events) %>
</div>
	
<div class="twoColumns-1">
	<h4>Sponsored Events</h4>
	<div class="event sponsored">
		<a href="#" class="date">
			<span class="day">08</span>
			<span class="month">AUG</span>
		</a>
		<ul>
			<li class="networking">
				<a href="">AIG completes preferred stock sale to government</a>
				<span class="time">10:00 am</span>
				<span class="venue">Cleveland State University</span>
			</li>
		</ul>
	</div>
</div>
<div class="clear"></div>
