<fieldset>
  <legend><span><strong>New Account</strong></span></legend>
  <div class="form-node">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-node">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-node">
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </div>

  <div class="form-node">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>

  <div class="form-node">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-node">
    <%= f.label :password_confirmation, 'Verify password' %>
    <%= f.password_field :password_confirmation %>
  </div>
</fieldset>

