<fieldset>
  <legend><span><strong>Personal Information</strong></span></legend>
  <div class="form-node">
    <%= f.label :address %>
    <%= f.text_field :address, :required => true %>
  </div>
  <div class="form-node">
    <%= f.label :address2 %>
    <%= f.text_field :address2, :required => true %>
  </div>
  <div class="form-node">
    <%= f.label :city %>
    <%= f.text_field :city, :required => true %>
  </div>

									<div class="form-node">
										<label for="state">
											State
										</label>
										<select name="state" id="state">
											<option value="AL">Alabama</option>
											<option value="AK">Alaska</option>
											<option value="AZ">Arizona</option>
											<option value="AR">Arkansas</option>
											<option value="CA">California</option>
											<option value="CO">Colorado</option>
											<option value="CT">Connecticut</option>
											<option value="DE">Delaware</option>
											<option value="DC">Dist of Columbia</option>
										</select>

									</div>


  <div class="form-node">
    <%= f.label :zip %>
    <%= f.text_field :zip, :required => true %>
  </div>
  <div class="form-node">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :required => true %>
  </div>

</fieldset>
<fieldset>
<legend><span><strong>Profesion and Education</strong></span></legend>

									<div class="form-node">
										<label for="profession">
											Profession
										</label>

										<input type="text" name="profession" id="profession" />
									</div>

									<div class="form-node">
										<label for="employer">
											Employer
										</label>
										<input type="text" name="employer" id="fbPemployerwd" />
									</div>

									<div class="form-node">

										<label for="education">
											Education
										</label>
										<input type="text" name="education" id="education" />
									</div>

								</fieldset>
								<fieldset>
									<legend><span><strong>About Us</strong></span></legend>
									<div class="form-node">

										<label for="hearAbout">
											How did you hear about Cleveland 20/30?
										</label>
										<textarea name="hearAbout" id="hearAbout" cols="26" rows="4"></textarea>
									</div>

								</fieldset>

