<div class="twoColumns-0">
	<div class="introContainer">
		<div class="intro">
			<ul class="committees">
				<li class="social"><a href="" id="link-social">Social</a></li>
				<li class="networking current"><a href="" id="link-networking">Networking</a></li>
				<li class="philanthopic"><a href="" id="link-philanthopic">Philanthopic</a></li>
				<li class="educational"><a href="" id="link-educational">Educational</a></li>
			</ul>

			<!--<div id="content-featured">
				<p>The Social Committee in The Cleveland 20/30 Club holds social events which include sports, wine socials ...</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div id="content-social">
				<p>I am text on the social page</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div class="current" id="content-networking">
				<p>I am text on the networking page</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div id="content-philanthopic">
				<p>I am text on the philanthopic page</p>
				<a class="learn" href="">Learn More</a>
			</div>

			<div id="content-educational">
				<p>I am text on the educational page</p>
				<a class="learn" href="">Learn More</a>
			</div>-->
		</div>
		<div class="corner"></div>
	
	</div>
	<div class="subintroContainer">
            <div class="subintroColumnLeft">
               <div class="membership">
                   <h4>Membership</h4>
                   <div class="membershipBody">
                       <div class="register">
                           <p class="becomeMember"><a href="#">Become A Member</a></p>
                           <p><a href="#">Renew Membership</a></p>
                       </div>
                       <div class="testimonials">
                           <h4 class="testimonialsHeader">Testimonials</h4>
                           <a href="#">Next</a>
                           <div class="testimonialBody">
                               <p>"This club is great!<br />There are always a lot of events and<br />this website is cool!"</p>
                               <p class="testimonialAuthor"><strong>John Smith</strong><br />Sales Representative for Renewal<br />By Andersen</p>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="flickr">
               	<h4>Photos From Recent Events</h4>
					                   
                   <div class="flickrBody">
                   	<div class="flickrLeft"><a href="#"></a></div>
                       <div class="flickrImage"><a href="#"><img src="/images/flickrImage.jpg"></a></div>
                       <div class="flickrRight"><a href="#"></a></div>
                   </div>
               </div>
           </div>
           <div class="subintroColumnRight">
             <div class="recentnews">
               <h4>Cleveland YP News</h4>
               <script language="JavaScript" src="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fblog.cleveland.com%2Fbusiness%2Fatom.xml&chan=n&num=5&desc=50&date=n&targ=n" type="text/javascript"></script>
			   <br><div class="small">News provided by: &nbsp;<a href="http://cleveland.com"><img src="/images/sponsoreImage_small.png" style="width: 75px; height: 32px;vertical-align:middle;" border="0"></a></div>
             </div>  
           </div>                          
       </div>
</div>
<div class="twoColumns-1">
	<h4>Sponsored Events</h4>
	<% unless @sponsored_events.empty? %>
		<% @sponsored_events.each do |event| %>
		<div class="event sponsored">
			<div class="date">
				<span class="day"><%= event.start_datetime.day %></span> 
				<span class="month"><%= event.start_datetime.strftime("%b") %></span>
			</div>	
			<ul>
				<li class=<%= event.primary_category.name || "social" %>>
					<%= image_tag event.sponsor.logo.url(:medium) %>
					<div><%=link_to truncate(event.name, :length => 50), event_detail_path(event) %></div>
					<div class="details">
						<p><%= event.start_datetime.strftime("%B %d, at %I:%M %p")%></p>
					</div>
				</li>
			</ul>
		</div>
		<% end %>
	<% end %>
	<h4>Upcoming Events</h4>
	<div class="event">
		<a href="#" class="date">
			<span class="day">08</span>
			<span class="month">AUG</span>
		</a>
		<ul>
			<li class="networking">
				<a href="">AIG completes preferred stock sale to government</a>
				<span class="time">10:00 am</span>
				<span class="venue">Cleveland State University</span>
			</li>
		</ul>
	</div>
	<div class="event">
		<a href="#" class="date">
			<span class="day">08</span>
			<span class="month">AUG</span>
		</a>
		<ul>
			<li class="networking">
				<a href="">AIG completes preferred stock sale to government</a>
				<span class="time">10:00 am</span>
				<span class="venue">Cleveland State University</span>
			</li>
		</ul>
	</div>
	<div class="event">
		<a href="#" class="date">
			<span class="day">18</span>
			<span class="month">FEB</span>
		</a>
		<ul>
			<li class="networking">
				<a href="">AIG completes preferred stock sale to government</a>
				<span class="time">10:00 am</span>
				<span class="venue">Cleveland State University</span>
			</li>
		</ul>
	</div>
	<div class="event">
		<a href="#" class="date">
			<span class="day">11</span>
			<span class="month">JUL</span>
		</a>
		<ul>
			<li class="networking">
				<a href="">AIG completes preferred stock sale to government</a>
				<span class="time">10:00 am</span>
				<span class="venue">Cleveland State University</span>
			</li>
		</ul>
	</div>
	<div class="event">
		<a href="#" class="date">
			<span class="day">23</span>
			<span class="month">DEC</span>
		</a>
		<ul>
			<li class="networking">
				<a href="">AIG completes preferred stock sale to government</a>
				<span class="time">10:00 am</span>
				<span class="venue">Cleveland State University</span>
			</li>
		</ul>
	</div>
</div>

