<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'event-detail', 'event-teasers' %>
<% end %>
<% if @event.nil? %>
	<h1>Event Not Found</h1>
<% else %>
<div class="twoColumns-0">
	<div class="eventDetails">
		<a href="<%=calendar_day_url(@event.start_datetime)%>" class="small right">&laquo; Back to Calendar</a>
		<h1><%=h @event.name%></h1>				
		<div class="columnsContainer">
			<div class="event">
				<a href="#" class="date">
					<span class="day">08</span>
					<span class="month">AUG</span>
				</a>
				<ul>
					<li class="">
						<h3 class="tiny weekday"><%= @event.start_datetime.strftime('%A')%></h3>
						<dl>
							<dt>Start time:</dt>
							<dd><%=@event.start_datetime.strftime('%I:%M %p')%></dd>
							<dt>End time:</dt>
							<dd><%=@event.end_datetime.strftime('%I:%M %p')%></dd>
						</dl>
					</li>
				</ul>
			</div>			
			<div class="miniColumn right">
				<h3 class="tiny">Ccost</h3>					
				<dl>
					<dt>Members:</dt>
					<dd>$20</dd>
					<dt>Non-Members:</dt>
					<dd>$50</dd>
				</dl>									
			</div>
		</div>
		<%= @event.description%>
		<!--<div class="section">
			<h4>EVENT DESCRIPTION</h4>
		</div>
		<div class="section">
			<h4>MAP &amp; DIRECTIONS</h4>
			<div class="map">
				<img src="../../../../public/images/google_map.jpg" style="width:417px;height:272px;"> 
			</div>
			<h4>DIRECTIONS</h4>
			<p>
				<b>From I-71:</b> <br>
				Exit at West 25th St. and follow Zoo signs.
			</p>
		</div>-->
	</div>
</div>
<div class="twoColumns-1">
	<form class="rsvp">								
		<fieldset>
			<legend><span><strong>Register for this Event </strong></span></legend>
			<div class="form-node disabled first">
				<input type="radio" name="member" value="true" disabled id="members" class="radio" /> <label for="members" class="radio member">Register as a Member</label>
			</div>
			<div class="form-node">
				<p class="notice">You must <a href="#">log in</a> before you can register as a member!</p>
			</div>

			<div class="form-node">				
				<input type="radio" name="member" value="false" checked id="nonmembers" class="radio"/> <label for="nonmembers" class="radio non-member">Register as a Non-Member</label>
			</div>
			<div class="form-node">				
				<label for="firstName">First Name:</label>
				<input type="text" id="firstName" />
			</div>
			<div class="form-node">	
				<label for="lastName">Last Name:</label>
				<input type="text" id="lastName" />
			</div>
			<div class="formAction">
				<input type="submit" value="Register">
			</div>
		</fieldset>
	</form>
	<div class="whoElse">
		<h4>Who Elese is Going?</h4>
		<p class="notice">You must <a href="#">log in</a> before you can see who else is attending!</p>
	</div>
</div>
<div class="clear"></div>
<% end %>