<div class="threeColumns-1">
    <h1>Create an Event</h1>
    <% form_for presenter, :url => events_path, :html => { :class => "allPurposeForm" } do |f| %>
	<form>
        
    <fieldset class="oneCol">
      <div class="form-node">
        <%= f.label :name, "Event Title" %>
        <%= f.text_field :name %>
      </div>
      <div class="form-node">
        <%= f.label :summary, "Event Summary" %>
        <%= f.text_area :summary, :class => "short" %>
      </div>
      <div class="form-node">
        <%= f.label :description %>
        <%= f.text_area :description, :class => "tall" %>
      </div>
    </fieldset>
    
    <fieldset class="oneCol">
      <div class="form-node">
        <%= f.label :start_datetime %>
        <%= f.text_field :start_datetime, :class => 'datepicker' %>
        <select>
        	<option selected="selected">Select a time</option>
        	<option>12:00 am</option>
        	<option>1:00 am</option>
        	<option>2:00 am</option>
        	<option>3:00 am</option>
        	<option>4:00 am</option>
        	<option>5:00 am</option>
        	<option>6:00 am</option>
        	<option>7:00 am</option>
        	<option>8:00 am</option>
        	<option>9:00 am</option>
        	<option>18:00 am</option>
        	<option>11:00 am</option>
        	<option>12:00 pm</option>
        	<option>1:00 pm</option>
        	<option>2:00 pm</option>
        	<option>3:00 pm</option>
        	<option>4:00 pm</option>
        	<option>5:00 pm</option>
        	<option>6:00 pm</option>
        	<option>7:00 pm</option>
        	<option>8:00 pm</option>
        	<option>9:00 pm</option>
        	<option>18:00 pm</option>
        	<option>11:00 pm</option>
        </select>
      </div>
      <div class="form-node">
        <%= f.label :end_datetime %>
        <%= f.text_field :end_datetime, :class => 'datepicker' %>
                <select>
        	<option selected="selected">Select a time</option>
        	<option>12:00 am</option>
        	<option>1:00 am</option>
        	<option>2:00 am</option>
        	<option>3:00 am</option>
        	<option>4:00 am</option>
        	<option>5:00 am</option>
        	<option>6:00 am</option>
        	<option>7:00 am</option>
        	<option>8:00 am</option>
        	<option>9:00 am</option>
        	<option>18:00 am</option>
        	<option>11:00 am</option>
        	<option>12:00 pm</option>
        	<option>1:00 pm</option>
        	<option>2:00 pm</option>
        	<option>3:00 pm</option>
        	<option>4:00 pm</option>
        	<option>5:00 pm</option>
        	<option>6:00 pm</option>
        	<option>7:00 pm</option>
        	<option>8:00 pm</option>
        	<option>9:00 pm</option>
        	<option>18:00 pm</option>
        	<option>11:00 pm</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="oneCol">
      <div class="form-node">
        <div class="label-like">&nbsp;</div>
        <input type="checkbox" name="" class="checkbox" id="attendeeCharge" value="$">
        <label for="attendeeCharge" class="checkbox">
          Will attenttee's be charged for this event?
        </label>
      </div>
      <div class="form-node attendeeCharged">
        <label for="attendeeMemberPrice">Members Price</label>
        <input type="text" id="attendeeMemberPrice" value="$">
      </div>
      <div class="form-node attendeeCharged">
        <label for="attendeeNonMemberPrice">Non-Members Price</label>
        <input type="text" id="attendeeNonMemberPrice" value="$">
      </div>
    </fieldset>
   
    <div class="formAction">
       <input type="submit" value="Create Event">
    </div>
  <% end %>
  </form>
</div>



