<div class="twoColumns-0">
  <h1>Login <a href="/registrations/new/" class="tiny right">Create a new account</a></h1>
  <% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <fieldset>
  	<legend><span><strong>Welcome Back</strong></span></legend>
    <div class="form-node">
      <%= f.label :login %>
      <%= f.text_field :login, :class => "text", :tabindex => 1 %>
    </div>
    <div class="form-node">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "text", :tabindex => 2 %>
    </div>
  </fieldset>		
  <div class="formAction ">
    <%= f.submit "Log In" %>
  </div>
  <% end %>
</div>

