<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Cleveland 2030</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/main.css">
    <%= yield :stylesheets %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <%= javascript_include_tag 'stuff' %>
    <!--[if lt IE 9]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>
  <body>
    <div id="container">
      <div id="shadowContainer">
        <div id="innerContainer">
          <div id="header">
            <div id="topHeader"></div>
            <a href="<%=root_url%>" title="The Cleveland 2030 Club home page" class="logo">
                <img src="/images/logo.gif" alt="The Cleveland 2030 Logo" border="0">
            </a>
            <div id="alertSection">
            </div>
            <div id="loginSection">
              <% if !@current_user.nil? and @current_user.logged_in? %>
                <%= @current_user.login %> | 
                <a href="javscript:void();">Account</a> | 
              <%= link_to "Sign out", user_session_url(@current_user), :method => :delete  %>
            <% else %>
              <a href="/user_sessions/new/" title="login" class="login">Login</a> | New Here?
              <a href="/registrations/new/" title="register">Register</a>			
            <% end %>
            </div>
          </div>
          <nav>
              <ul>
                <li><%= current_link 'Home', root_path, :title => 'Home' %></li>
                <li><%= current_link 'Calendar Events', current_calendar_url, :title => 'Calendar Events' %></li>
                <li><%=current_link '20/30 Members', members_url, :title => '20/30 Members'%></li>
                <li><%=current_link 'Cleveland Plus', cleveland_plus_url, :title => 'Cleveland Plus'%></li>
                <li><%=current_link 'About 20/30', about_url, :title => "About 20/30"%></li>
              </ul>
          </nav>
          <div id="content">
            <%= yield %>
          </div>
          
          <footer>
          	The Cleveland Professional 20/30 Club, 600 Superior Avenue, Suite 1300, Cleveland, OH 44114 &nbsp;<a href="mailto:info@cleveland2030.org">info@cleveland2030.org</a></footer>
        </div>
      </div>
    </div>
  </body>
</html>
